<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">


</head>

<body>
    <div class="_logo">
        Kalalayam
    </div>
    <div class="progs">
        <button @click="save" v-if="saveList">Save</button>
        <div v-if="prg">
            <div class="top_Bar">
                <button v-bind:class="[ activecat==cat&& 'isActive' ]" @click="setAct(cat)" v-for="cat in cats">
                    {{ cat }}
                </button>
            </div>


            <div v-if="activecat" class="__progs">

                <div v-for="eachProg in activecatList">
                    {{eachProg[1]}}
                    <multiselect @input="()=>{onChange(eachProg[0],eachProg[3])}" v-model="eachProg[3]" :multiple="true"
                        :options="activeStdList" track-by="id" label="value" :searchable="true" :close-on-select="false"
                        :show-labels="false" placeholder="Pick a value"></multiselect>

                </div>
            </div>
            <div v-else>
                Select A Catagory
            </div>
        </div>
        <!-- <v-select :options="options"></v-select> -->
    </div>

</body>

</html>
<script>
    let _id = "SRM"
    let _pass = "aaaa"
    Vue.component('vue-multiselect', window.VueMultiselect.default)


    var app = new Vue({
        el: '.progs',
        components: { Multiselect: window.VueMultiselect.default },
        data: {
            cats: [
                "BIDAYA",
                "UOOLA",
                "THANIYA",
                "THANAVIYYA",
                "ALIYA"
            ],
            prg: null,
            std: null,
            activecat: null,
            value: null,
            saveList: null

        }, methods: {
            setAct(elm) {
                this.activecat = elm
            },
            onChange(progkey, std) {
                //console.log(a,e,"wwwwwwwwwwwwwww");
                //console.log(JSON.stringify(std.id));
                this.saveList = { ...this.saveList, ...{ [progkey]: std.map(e=>e.id) } }
            },
            save() {
                fetch(`https://script.google.com/macros/s/AKfycbytmYmxId7WE-NKDXFG85fTobo0ag20hURKMxbI2H9r0OkL7JXQKX-b8Z_zwpYmht2j/exec?_id=${_id}&&_pass=${_pass}&&_update=${JSON.stringify(this.saveList)}`).then(e=>e.json()).then(e=>{
                    console.log(e);
                })
            }
        },
        computed: {
            activecatList() {
                return this.prg.filter(e => e[2] == this.activecat)
            },
            activeStdList() {
                return this.std.filter(e => e[4] == this.activecat).map(e => ({ value: `${e[1]} | ${e[2]}`, id: e[1] }))

            }
        },
        mounted() {

            fetch(`https://script.google.com/macros/s/AKfycby6w4NcsB07t3TZ3piOYbHwGlF0rRNzwixAX3x81PYMZxVgr2SHmrQzIAWLCdBFf7ie/exec?act=get&&_id=${_id}&&_pass=${_pass}`,{headers:{
              
      'Content-Type': 'application/json'

      // 'Content-Type': 'application/x-www-form-urlencoded',
    
            }})
                .then(e => e.json()).then(e => {
                    this.prg = e.prg
                    


                    this.std = e.std
                }).catch(e=>{
                    console.log(e);
                })
        }
    })
</script>


